package boot

import (
	"github.com/EQEmu/spire/internal/http/crudcontrollers"
	"github.com/EQEmu/spire/internal/http/routes"
)

type crudControllers struct {
	routes []routes.Controller
}

func provideCrudControllers(
{{.ControllersParam}}
) *crudControllers {
	return &crudControllers{
		routes: []routes.Controller{
{{.ControllersRegister}}
		},
	}
}
